body {
  font-family: Poppins, sans-serif;
  color: #3d3d3d;
  font-size: 14px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
}

a {
  text-decoration: underline;
}

.responsive-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "site-nav site-nav site-nav"
    "side-nav header header"
    "side-nav section section"
    "side-nav footer footer";
  -ms-grid-columns: auto 0px 1fr 0px 1fr;
  grid-template-columns: auto 1fr 1fr;
  -ms-grid-rows: 90px 0px auto 0px auto 0px 72px;
  grid-template-rows: 90px auto auto 72px;
  background-color: #f1f3f6;
}

.responsive-grid.homepage {
  margin-top: 36vh;
}

.menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  bottom: 0px;
  z-index: 12;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  padding: 24px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #f1f3f6;
}

.aside {
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
  z-index: 11;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  max-width: 256px;
  min-width: 72px;
  padding: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #f1f3f6;
  -webkit-transition: width 200ms ease;
  transition: width 200ms ease;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
  bottom: 0px;
  z-index: 11;
  height: 98px;
  padding-top: 24px;
  background-color: #f1f3f6;
  box-shadow: 0 19px 1px 0 #f1f3f6;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 12px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Poppins, sans-serif;
  color: #f1f3f6;
  font-size: 1.2em;
  font-weight: 800;
  text-decoration: none;
  text-shadow: 1px 1px 0 #a864ff, -3px -3px 4px #fff, 2px 2px 4px rgba(0, 0, 0, 0.17);
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 42px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}

.site-link {
  display: inline-block;
  margin-left: 24px;
  padding: 11px 16px 9px;
  border-style: solid;
  border-width: 1px;
  border-color: #f1f3f6;
  border-radius: 12px;
  box-shadow: inset -4px -4px 64px 0 hsla(0, 0%, 100%, 0.24), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.01), -4px -4px 6px 0 hsla(0, 0%, 100%, 0.72), 4px 4px 5px 0 rgba(0, 0, 0, 0.06);
  font-family: 'Product sans', Verdana, sans-serif;
  color: #3d3d3d;
  font-size: 1.44em;
  text-decoration: none;
}

.site-link:hover {
  box-shadow: none;
  color: #a864ff;
}

.site-link.w--current {
  box-shadow: inset -4px -4px 6px 0 hsla(0, 0%, 100%, 0.72), inset 4px 4px 5px 0 rgba(0, 0, 0, 0.06);
  color: #46e366;
  cursor: default;
}

.site-link.networkasdas-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 42px;
  height: 42px;
  margin-right: 12px;
  margin-left: 12px;
  padding: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Icons, Verdana, sans-serif;
  color: #3d3d3d;
  font-weight: 300;
}

.site-link.networkasdas-icon.orange-hover:hover {
  color: #f96;
}

.site-link.networkasdas-icon.green-hover:hover {
  color: #46e366;
}

.site-link.networkasdas-icon.purple-hover:hover {
  color: #a864ff;
}

.hs-menu {
  z-index: 1000;
  display: inline-block;
  margin-top: 12px;
  margin-right: auto;
  margin-left: auto;
  padding: 6px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.dc-t {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 3px 4px 1px;
  font-family: Poppins, sans-serif;
  color: #111;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}

.skills-link {
  margin-right: 4px;
  margin-left: 4px;
  padding: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #f5f5f5;
  border-radius: 4px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #111;
  text-decoration: none;
}

.skills-link:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}

.skills-link.w--current {
  background-color: transparent;
}

.skills-link.s2:hover {
  border-color: #0c6;
}

.skills-link.s2.active {
  border-style: solid;
  border-width: 1px;
  border-color: #46e366;
}

.skills-link.s3:hover {
  border-color: #9445ff;
}

.skills-link.s3.active {
  border-style: solid;
  border-width: 1px;
  border-color: #a864ff;
}

.skills-link.s1:hover {
  border-color: #f96;
}

.skills-link.s1.active {
  border-color: #f96;
}

.skills-link.s4:hover {
  border-color: #2ec7b0;
}

.purple {
  color: #a864ff;
}

.orange {
  color: #f96;
}

.green {
  color: #46e366;
}

.branding {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 7px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Changa One', Impact, sans-serif;
  color: #f1f3f6;
  font-size: 3em;
  line-height: 1em;
  font-weight: 400;
  letter-spacing: 2.4px;
  text-decoration: none;
  text-shadow: -1px -1px 0 #fff, 1px 0 0 rgba(0, 0, 0, 0.16), -3px -3px 4px #fff, 2px 2px 4px rgba(0, 0, 0, 0.17);
}

.header-title {
  display: inline-block;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 2px;
  padding-left: 12px;
  color: #3d3d3d;
  font-size: 14px;
  line-height: 1em;
  font-weight: 400;
  text-align: left;
}

.zen-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: Icons, Verdana, sans-serif;
  font-size: 24px;
  line-height: 1em;
  font-weight: 900;
  text-align: center;
}

.zen-icon.line {
  font-weight: 400;
}

.zen-icon.thin {
  font-weight: 400;
}

.zen-icon.rotate {
  -webkit-transform: rotate(123deg);
  -ms-transform: rotate(123deg);
  transform: rotate(123deg);
}

.zen-icon.logo {
  width: 28px;
  margin-right: -2px;
  margin-left: -2px;
  font-family: Icons, Verdana, sans-serif;
  font-size: 1.44em;
  line-height: 1em;
  font-weight: 300;
}

.soft-ui {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 48px;
  height: 48px;
  padding: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 12px;
  box-shadow: inset 4px 4px 6px 0 rgba(0, 0, 0, 0.01), -4px -4px 6px 0 hsla(0, 0%, 100%, 0.72), 4px 4px 5px 0 rgba(0, 0, 0, 0.03);
  text-decoration: none;
}

.soft-ui:hover {
  box-shadow: none;
  color: #a864ff;
}

.soft-ui.w--current {
  box-shadow: inset -4px -4px 6px 0 hsla(0, 0%, 100%, 0.72), inset 4px 4px 5px 0 rgba(0, 0, 0, 0.03);
  color: #46e366;
}

.soft-ui.nav {
  margin-top: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.soft-ui.nav:hover {
  color: #46e366;
}

.soft-ui.orange:hover {
  color: #f96;
}

.soft-ui.green:hover {
  color: #46e366;
}

.footer {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 72px;
  padding-right: 12px;
  padding-left: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.numbers {
  position: relative;
  z-index: 10;
  color: #fff;
  font-size: 40px;
  line-height: 100%;
  font-weight: 700;
}

.accordion-contents {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 12px;
}

.accordion-label {
  position: absolute;
  left: auto;
  top: auto;
  right: 12px;
  bottom: 0%;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 5.8em;
  line-height: 1em;
  letter-spacing: -3px;
}

.flex-fix {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.accordions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60vh;
  padding: 0px 12px 24px 24px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.accordion {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100%;
  min-width: 58px;
  margin-right: 12px;
  padding: 24px 18px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: #f1f3f6;
  border-radius: 12px;
  background-color: #f1f3f6;
  box-shadow: -4px -4px 6px 0 hsla(0, 0%, 100%, 0.48), 4px 4px 6px 0 rgba(0, 0, 0, 0.06);
  color: #3d3d3d;
}

.accordion:hover {
  color: #46e366;
}

.accordion.active {
  min-width: 68px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: rgba(99, 96, 96, 0);
  -webkit-transition: all 360ms ease-out;
  transition: all 360ms ease-out;
}

.vertical-text {
  z-index: 10;
  width: 100%;
  height: 100%;
  font-family: Poppins, sans-serif;
  font-size: 22px;
  line-height: 1em;
  font-weight: 400;
  text-align: left;
}

.accordion-header {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1;
  text-align: right;
}

.accordion-cover {
  width: 100%;
  height: 100%;
  max-height: 80vh;
  max-width: none;
  opacity: 1;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 100% 50%;
  object-position: 100% 50%;
}

.section {
  z-index: 1;
  padding-top: 24px;
  padding-right: 12px;
  padding-bottom: 24px;
}

.section.widths {
  overflow: hidden;
  margin-top: -212px;
  padding-top: 212px;
}

.section.end {
  overflow: hidden;
}

.section.hack {
  margin-bottom: -212px;
}

.footer-crumbs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 12px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #3d3d3d;
  font-size: 11px;
}

.copy-icon {
  display: inline-block;
  margin-bottom: -1px;
  padding-right: 2px;
  padding-left: 2px;
  font-size: 15px;
}

.faq-content {
  overflow: hidden;
  margin-top: -2px;
}

.faq-title {
  font-size: 16px;
}

.faq-toggle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 25px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 12px;
  background-color: #f1f3f6;
  box-shadow: inset 4px 4px 24px 0 rgba(0, 0, 0, 0.02), -4px -4px 6px 0 hsla(0, 0%, 100%, 0.48), 4px 4px 6px 0 rgba(0, 0, 0, 0.06);
  color: #3d3d3d;
  font-weight: 600;
  text-decoration: none;
}

.faq-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.highlight {
  color: #a864ff;
}

.faq-wrap {
  width: 50%;
  margin-bottom: 24px;
  padding-right: 12px;
  padding-left: 12px;
}

.faq-text-details {
  width: 100%;
  margin-bottom: 24px;
  color: #3d3d3d;
  line-height: 26px;
  text-align: center;
}

.faq-body {
  margin-right: 25px;
  margin-bottom: 0px;
  margin-left: 25px;
  padding-top: 42px;
  padding-bottom: 42px;
  color: #445567;
  font-size: 16px;
  line-height: 1.44em;
  letter-spacing: -0.25px;
}

.faq-lottie {
  width: 60px;
  height: 60px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 102px;
}

.network-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 42px;
  height: 42px;
  margin-left: 12px;
  padding: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: inset 4px 4px 24px 0 rgba(0, 0, 0, 0.03), -4px -4px 6px 0 #fff, 4px 4px 5px 0 rgba(0, 0, 0, 0.06);
  font-family: Icons, Verdana, sans-serif;
  color: #3d3d3d;
  font-size: 1.44em;
  font-weight: 300;
  text-decoration: none;
}

.network-icon:hover {
  box-shadow: none;
}

.network-icon.networkasdas-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 42px;
  height: 42px;
  margin-right: 12px;
  margin-left: 12px;
  padding: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Icons, Verdana, sans-serif;
  color: #3d3d3d;
  font-weight: 300;
}

.network-icon.networkasdas-icon.orange-hover:hover {
  color: #f96;
}

.network-icon.networkasdas-icon.green-hover:hover {
  color: #46e366;
}

.network-icon.networkasdas-icon.purple-hover:hover {
  color: #a864ff;
}

.network-icon.purple-hover:hover {
  color: #a864ff;
}

.network-icon.orange-hover:hover {
  color: #f96;
}

.network-icon.green-hover:hover {
  color: #46e366;
}

.line {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  height: 2px;
  margin-right: 12px;
  margin-left: 12px;
  border-radius: 1.5px;
  background-color: #f1f3f6;
  box-shadow: -1px -1px 1px 0 hsla(0, 0%, 100%, 0.72), 1px 1px 4px 0 rgba(0, 0, 0, 0.06);
}

.line.top {
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-top: -2px;
  margin-bottom: 0px;
}

.line.aside {
  left: auto;
  top: 0%;
  right: 0%;
  display: none;
  width: 2px;
  height: auto;
  margin: 0px -14px 0px 0px;
}

.line.spacer {
  position: relative;
  display: none;
  margin: 24px 0px;
}

.line.wedge {
  position: static;
  margin: 0px;
}

.line.head {
  position: relative;
  margin-top: 24px;
  margin-right: 12px;
  margin-left: 0px;
}

.vbn {
  margin-top: 52px;
  margin-bottom: 0px;
  padding-right: 12px;
  font-family: 'Changa One', Impact, sans-serif;
  color: #3d3d3d;
}

.header-section {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  font-size: 1em;
  line-height: 1em;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.half-flex {
  width: 50%;
}

.hero-visual {
  width: 100%;
  height: 210px;
}

.container {
  position: relative;
  padding-bottom: 24px;
}

.header-guts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 12px 24px;
  padding: 12px 12px 12px 24px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 12px;
  box-shadow: inset -4px -4px 6px 0 hsla(0, 0%, 100%, 0.72), inset 4px 4px 5px 0 rgba(0, 0, 0, 0.06);
  color: #3d3d3d;
  font-size: 1.1em;
  font-weight: 300;
  letter-spacing: 0.24px;
  text-decoration: none;
}

.header-guts.w--current {
  color: #46e366;
}

.purple-brand {
  font-family: 'Product sans', Verdana, sans-serif;
  color: #a864ff;
  font-weight: 700;
  letter-spacing: 3px;
  text-shadow: -1px -1px 2px #fff, 1px 1px 2px rgba(0, 0, 0, 0.24);
}

.green-brand {
  font-family: 'Product sans', Verdana, sans-serif;
  color: #46e366;
  font-weight: 400;
}

.aside-slide {
  overflow: auto;
  max-height: 62vh;
}

.featured-slider {
  overflow: hidden;
  height: 288px;
  padding: 12px 24px 36px 12px;
  background-color: transparent;
}

.featured-mask {
  overflow: visible;
  width: 25%;
}

.city-nav {
  height: 22px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 11px;
}

.hidden {
  display: none;
}

.featured-slide {
  position: relative;
  z-index: 2;
  padding-right: 12px;
  padding-left: 12px;
}

.featured-slide.stack {
  width: 400%;
  padding-right: 0px;
  padding-left: 0px;
}

.featured-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 12px;
  box-shadow: -4px -4px 6px 0 hsla(0, 0%, 100%, 0.72), 4px 4px 6px 0 rgba(0, 0, 0, 0.06);
}

.featured-card.stack {
  width: 20%;
}

.featured-cover {
  width: 100%;
  height: 120px;
  border-radius: 6px;
  background-color: #3d3d3d;
  box-shadow: inset -4px -4px 6px 0 hsla(0, 0%, 100%, 0.72), inset 3px 3px 4px 0 rgba(0, 0, 0, 0.09);
}

.featured-title {
  margin-top: 12px;
  margin-bottom: 2px;
  font-size: 0.9em;
  line-height: 1em;
  font-weight: 600;
}

.featured-short {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 0.8em;
  line-height: 1.44em;
}

.flex-conditions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 22px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.expect-icons {
  width: 24px;
  margin-right: 4px;
  font-family: Icons, Verdana, sans-serif;
  font-size: 1.44em;
  font-weight: 900;
  text-align: center;
}

.crumb-link {
  padding-right: 2px;
  padding-left: 2px;
  color: #46e366;
}

.flat-icon {
  width: 36px;
  height: 36px;
  padding: 7px;
}

.aside-category {
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
}

.text-block {
  text-shadow: -1px -1px 0 #fff, 1px 0 0 rgba(0, 0, 0, 0.16), -3px -3px 4px hsla(0, 0%, 100%, 0.72), 2px 2px 4px rgba(0, 0, 0, 0.07);
}

.header-header {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 6px;
  font-family: Poppins, sans-serif;
  font-size: 1.44em;
  line-height: 1.1em;
  font-weight: 500;
}

.hero-guts {
  position: relative;
  z-index: 7;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  margin: 0px 24px 24px 12px;
  padding: 8px 12px 12px 24px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 12px;
  box-shadow: inset -4px -4px 6px 0 hsla(0, 0%, 100%, 0.72), inset 4px 4px 5px 0 rgba(0, 0, 0, 0.06);
  color: #46e366;
  font-size: 1.1em;
  font-weight: 300;
  letter-spacing: 0.24px;
  text-decoration: none;
}

.hero-guts.w--current {
  color: #46e366;
}

.hero-splash {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 12;
  height: 36vh;
  padding: 12px;
}

.feature-stack {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 100%;
  padding-right: 12px;
  padding-left: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.feature-stack.stack {
  width: 20%;
}

.stack-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.stack-wrap.stack {
  width: 20%;
}

.feature-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(36%, #f1f3f6));
  background-image: linear-gradient(270deg, transparent, #f1f3f6 36%);
}

.feature-nav.alt {
  background-image: -webkit-gradient(linear, right top, left top, color-stop(64%, #f1f3f6), to(transparent));
  background-image: linear-gradient(270deg, #f1f3f6 64%, transparent);
}

.svg-hover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.aside-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #3d3d3d;
  text-decoration: none;
}

.aside-link:hover {
  color: #46e366;
}

.aside-link.green:hover {
  color: #46e366;
}

.aside-link.orange:hover {
  color: #f96;
}

@media screen and (max-width: 991px) {
  .dc-t {
    padding: 4px 6px 2px;
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .responsive-grid {
    grid-template-areas: "site-nav site-nav site-nav"
      "side-nav side-nav side-nav"
      "header header header"
      "section section section"
      "footer footer footer";
    -ms-grid-rows: 72px auto auto auto 64px;
    grid-template-rows: 72px auto auto auto 64px;
  }

  .hs-menu {
    width: 100%;
    margin-top: 6px;
  }

  .dc-t {
    width: 100%;
    padding: 2px;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 0.2px;
  }

  .skills-link {
    margin-right: 1%;
    margin-left: 1%;
    padding-bottom: 2px;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .hs-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 420px;
    height: auto;
    max-width: 100%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-shadow: none;
  }

  .dc-t {
    padding-bottom: 1px;
    font-size: 9px;
  }

  .skills-link {
    margin: 4px;
    padding: 0px;
    font-size: 8px;
    line-height: 8px;
  }

  .faq-title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

#w-node-_2793f273-d440-766d-7f94-66fa30dad353-2dd6e84e {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: site-nav;
}

#w-node-_9b531bda-be1a-27ed-a428-662a67a986ee-2dd6e84e {
  -ms-grid-row: 3;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  grid-area: side-nav;
}

#w-node-ce30d260-293e-1a8e-d18b-a55fb12b2e00-2dd6e84e {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: header;
}

#w-node-c4b37c2d-e90c-8ee5-f29d-9afc4065ad6a-2dd6e84e {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: section;
}

#w-node-_213a85af-c200-bc43-c3f0-10e7a0f2f9f1-2dd6e84e {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: footer;
  -ms-grid-column-align: center;
  justify-self: center;
}

@media screen and (max-width: 767px) {
  #w-node-_2793f273-d440-766d-7f94-66fa30dad353-2dd6e84e {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  #w-node-_9b531bda-be1a-27ed-a428-662a67a986ee-2dd6e84e {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  #w-node-ce30d260-293e-1a8e-d18b-a55fb12b2e00-2dd6e84e {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  #w-node-c4b37c2d-e90c-8ee5-f29d-9afc4065ad6a-2dd6e84e {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  #w-node-_213a85af-c200-bc43-c3f0-10e7a0f2f9f1-2dd6e84e {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}

@font-face {
  font-family: 'Product sans';
  src: url('../fonts/Product-Sans-Bold-Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Product sans';
  src: url('../fonts/Product-Sans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Product sans';
  src: url('../fonts/Product-Sans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Product sans';
  src: url('../fonts/Product-Sans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Adobeclean';
  src: url('../fonts/AdobeClean-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Adobeclean';
  src: url('../fonts/AdobeClean-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Icons';
  src: url('../fonts/icons-social.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Icons';
  src: url('../fonts/icons-flat.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Icons';
  src: url('../fonts/icons-thin.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Icons';
  src: url('../fonts/icons-googles.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}